crawlers/regulation-monitor/workflows/01_regulation_us_fda.json
{
  "name": "[규제수집] US/FDA - GEMINI_US",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 12 }] } },
      "id": "schedule-1",
      "name": "Schedule (12시간)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://www.federalregister.gov/api/v1/documents.json",
        "qs": {
          "conditions[agencies][]": "food-and-drug-administration",
          "conditions[term]": "cosmetic OR cosmetics",
          "per_page": "10",
          "order": "newest"
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "http-fed-register",
      "name": "Federal Register API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, -100]
    },
    {
      "parameters": {
        "url": "https://www.fda.gov/cosmetics",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "http-fda-page",
      "name": "FDA Cosmetics Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 100]
    },
    {
      "parameters": {
        "jsCode": "// Federal Register 결과 파싱\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (data.results) {\n    for (const doc of data.results) {\n      results.push({\n        json: {\n          source: 'federal_register',\n          title: doc.title,\n          abstract: doc.abstract || '',\n          url: doc.html_url,\n          published_at: doc.publication_date,\n          document_type: doc.type,\n          region: 'US',\n          gemini_tag: 'GEMINI_US'\n        }\n      });\n    }\n  }\n}\n\nreturn results.length ? results : [{ json: { skip: true } }];"
      },
      "id": "code-parse",
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "skip-check", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEqual" } }]
        }
      },
      "id": "filter-skip",
      "name": "Skip Empty",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [700, 0]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"다음 화장품 규제 문서를 분석해주세요.\\n\\n제목: {{ $json.title }}\\n내용: {{ $json.abstract }}\\n\\n다음 JSON 형식으로 응답:\\n{\\n  \\\"summary_ko\\\": \\\"한글 요약 (2-3문장)\\\",\\n  \\\"category\\\": \\\"new_rule|amendment|guidance|recall|other\\\",\\n  \\\"affected_ingredients\\\": [\\\"INCI명 배열\\\"],\\n  \\\"severity\\\": \\\"high|medium|low\\\",\\n  \\\"keywords\\\": [\\\"키워드 배열\\\"]\\n}\"\n    }]\n  }]\n}",
        "options": {}
      },
      "id": "gemini-analyze",
      "name": "Gemini 분석",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 0],
      "notes": "GEMINI_API_KEY를 Query Auth 크레덴셜에 key=key로 설정"
    },
    {
      "parameters": {
        "jsCode": "// Gemini 응답 파싱 + 원본 데이터 병합\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const geminiResp = item.json;\n    const text = geminiResp?.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n    const jsonStr = text.replace(/```json\\n?|```/g, '').trim();\n    const analysis = JSON.parse(jsonStr);\n    \n    results.push({\n      json: {\n        ...item.json,\n        analysis,\n        gemini_tag: 'GEMINI_US',\n        collected_at: new Date().toISOString()\n      }\n    });\n  } catch(e) {\n    results.push({\n      json: { ...item.json, analysis: { error: e.message }, collected_at: new Date().toISOString() }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "code-merge",
      "name": "분석결과 병합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "", "mode": "url" },
        "sheetName": { "__rl": true, "value": "규제수집_US", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "gsheet-save",
      "name": "Google Sheets 저장",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1300, -100],
      "notes": "스프레드시트 ID와 시트명을 설정하세요"
    },
    {
      "parameters": {
        "conditions": { "options": {},
          "conditions": [{ "id": "severity-check", "leftValue": "={{ $json.analysis?.severity }}", "rightValue": "high", "operator": { "type": "string", "operation": "equals" } }]
        }
      },
      "id": "filter-alert",
      "name": "긴급 필터",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1300, 100]
    },
    {
      "parameters": {
        "fromEmail": "alert@kpros.kr",
        "toEmail": "",
        "subject": "=🚨 [US/FDA 규제 알림] {{ $json.title }}",
        "emailType": "html",
        "html": "=<h2>{{ $json.title }}</h2>\n<p><strong>분류:</strong> {{ $json.analysis?.category }}</p>\n<p><strong>요약:</strong> {{ $json.analysis?.summary_ko }}</p>\n<p><strong>영향 원료:</strong> {{ $json.analysis?.affected_ingredients?.join(', ') }}</p>\n<p><a href=\"{{ $json.url }}\">원문 보기</a></p>\n<hr>\n<small>GEMINI_US | {{ $json.collected_at }}</small>"
      },
      "id": "email-alert",
      "name": "긴급 알림 발송",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1500, 100],
      "notes": "SMTP 크레덴셜 설정 필요 (Hiworks 등)"
    }
  ],
  "connections": {
    "Schedule (12시간)": { "main": [[{ "node": "Federal Register API", "type": "main", "index": 0 }, { "node": "FDA Cosmetics Page", "type": "main", "index": 0 }]] },
    "Federal Register API": { "main": [[{ "node": "Parse Results", "type": "main", "index": 0 }]] },
    "FDA Cosmetics Page": { "main": [[{ "node": "Parse Results", "type": "main", "index": 0 }]] },
    "Parse Results": { "main": [[{ "node": "Skip Empty", "type": "main", "index": 0 }]] },
    "Skip Empty": { "main": [[{ "node": "Gemini 분석", "type": "main", "index": 0 }]] },
    "Gemini 분석": { "main": [[{ "node": "분석결과 병합", "type": "main", "index": 0 }]] },
    "분석결과 병합": { "main": [[{ "node": "Google Sheets 저장", "type": "main", "index": 0 }, { "node": "긴급 필터", "type": "main", "index": 0 }]] },
    "긴급 필터": { "main": [[{ "node": "긴급 알림 발송", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "규제수집" }, { "name": "US" }, { "name": "GEMINI_US" }]
}
